<%- include ('../layouts/cabecera.ejs') %>

<form method="post" action="../actualizar" enctype="multipart/form-data">
    <div class="form-group">
        <label for="my-input">Nombre: </label>
        <input id="my-input" class="form-control" value="<%= datos[0].nombre %>" type="text" name="nombre">
        <input id="my-input" class="form-control" value="<%= datos[0].id_producto %>" type="hidden" name="id">
    </div>
    <div class="form-group">
        <label for="my-input">Categoria: </label>
        <input id="my-input" class="form-control" value="<%= datos[0].categoria %>" type="text" name="categoria" disabled>
        <input id="my-input" class="form-control" value="<%= datos[0].categoria %>" type="hidden" name="categoria">
    </div>
    <div class="form-group">
        <label for="my-input">Precio: </label>
        <input id="my-input" class="form-control" value="<%= datos[0].precio %>" type="number" name="precio" min="0">
    </div>
    <div class="form-group">
        <label for="my-input">Stock: </label>
        <input id="my-input" class="form-control" value="<%= datos[0].stock %>" type="number" name="stock" min="0">
    </div>
    <div class="form-group">
        <label for="my-input">Imagen</label>
        <img class="img-thumbnail" width="100" src="/images/<%= datos[0].imagen %>" alt="">
        <input id="my-input" class="form-control-file" type="file" name="archivo">
    </div>
<button class="btn btn-primary" type="submit">Actualizar</button>
<a href="../" class="btn btn-danger" type="button">Cancelar</a>
</form>
<%- include ('../layouts/pie.ejs') %>